<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h2>congo you are authenticated and you are now able to access</h2>
    <h2>welcome dear your name is <%= locals.user.name %>
    </h2>
    <h2>Your name is : <%= locals.user.name %>
            <h2>Your email is : <%= locals.user.email %>
                    <h2>Your password is : <%= locals.user.password %>
                            <h2>Your account created at is : <%= locals.user.createdAt%>
                            </h2>
</body>

</html>